<nav class="navbar navbar-default navbar-custom navbar-fixed-top">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">
          <a href="https://twitter.com/sergeyevstifeev" title="Follow me on Twitter">
              <i class="fa fa-twitter"></i>
          </a>

          {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
          {% endfor %}
    </div>
    </nav>

  </div>
</nav>
