/**
* Site header
*/
.site-header {
  border-top: 5px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-light;
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  font-size: 20px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: right;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
* Site footer
*/
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(15% - (#{$spacing-unit} / 2));
  width:         calc(15% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(55% - (#{$spacing-unit} / 2));
  width:         calc(55% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
* Page content
*/
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.page-header {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
  background-color: #FFFFFF; opacity: 0.8; filter: alpha(opacity=80);
}
.page-header .post-title {
  font-family: $title-font-family;
  font-weight: 900;
}
.page-header .site-header,
.page-header .post-header,
.page-header .page-header {
  padding: 100px 0 50px;
  font-family: $title-font-family;
  color: $dark;
}
@media only screen and (min-width: 768px) {
  .page-header .site-header,
  .page-header .post-header,
  .page-header .page-header {
    padding: 150px 0;
  }
}
.page-header .site-header,
.page-header .page-header {
  text-align: center;
}
.page-header .site-header h1,
.page-header .page-header h1 {
  margin-top: 0;
  font-size: 50px;
}
.page-header .site-header .subheading,
.page-header .page-header .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: $base-font-family;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .page-header .site-header h1,
  .page-header .page-header h1 {
    font-size: 80px;
  }
}
.page-header .post-header h1 {
  font-size: 35px;
  color: $dark;
}
.page-header .post-header .subheading,
.page-header .post-header .meta {
  line-height: 1.1;
  display: block;
}
.page-header .post-header .subheading {
  font-family: $base-font-family;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.page-header .post-header .meta {
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
}
.page-header .post-header .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .page-header .post-header h1 {
    font-size: 55px;
  }
  .page-header .post-header .subheading {
    font-size: 30px;
  }
}

.navbar-custom {
  background-color: rgba(256, 256, 256, 0.6);
  font-family: $nav-font-family;
  font-weight: 900;
}

.site-title,
.site-nav a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}
.site-nav:hover,
.site-title:hover,
.site-title:hover a,
.site-nav:hover a {
  color: rgba(0, 0, 0, 0.8);
}


.image-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 100%;
  overflow: hidden;
}
.image-wrapper img {
  height: 100%;
  width: 100%;
}
.image-wrapper:hover,
.image-wrapper:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.post-preview .post-title {
  font-family: $title-font-family;
  font-weight: 400;
  color: $grey-color;
}
.preview-post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}
